.myInput {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 237, 224);
  cursor: pointer;
  box-sizing: border-box;
}
.myInput:focus {
  border: 1px solid rgb(94, 137, 94);
  outline: none;
}
