* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

#root {
  display: flex;
  justify-content: center;
}

.appContainer {
  h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    text-shadow: -5px 10px 4px rgb(181, 181, 181);
  }
  h3 {
    display: flex;
    justify-content: center;
  }
  .line {
    margin: 20px;
    border: 0;

    background: linear-gradient(to right, rgb(94, 137, 94, 0.1), rgb(94, 137, 94), rgb(94, 137, 94, 0.1));
    height: 3px;
  }
  width: 100%;
  height: 100%;
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  margin: 20px;

  align-items: center;
}

.createBtn {
  height: 37px;
  border: 1px solid rgb(94, 137, 94);
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
  margin-left: 16px;

  &:hover {
    background-color: rgb(94, 137, 94);
    color: white;
    border: 1px solid rgb(34, 55, 34);
    box-shadow: 3px 3px 10px rgb(34, 55, 34);
  }
}

.pagesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;

  .button {
    height: 37px;
    border: 1px solid rgb(94, 137, 94);
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: all 0.1s ease-in-out;
    margin-left: 16px;

    &:hover {
      background-color: rgb(94, 137, 94);
      color: white;
      border: 1px solid rgb(34, 55, 34);
      box-shadow: 3px 3px 10px rgb(34, 55, 34);
    }
  }

  .numberPage {
    padding: 10px;
    margin-left: 15px;
    background-color: rgb(94, 137, 94);
    border-radius: 10px;
    color: white;
  }
}

.mainInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 20px;
}
