.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(186, 216, 186);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navBarLinks {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;

  .navBarLink {
    a {
      padding: 5px;
      border-radius: 10px;
      text-decoration: none;
      font-size: 18px;
      color: #333;
      transition: background-color 0.3 ease-in-out, color 0.3s ease-in-out;

      &:hover {
        color: #006400;
      }

      &:hover {
        background-color: rgba(0, 100, 0, 0.1);
      }

      .navBarLinks {
        background-color: rgba(0, 100, 0, 0.1);
        color: white;

        &:hover {
          color: white;
        }
      }
    }
  }
}
